<template>
    <div>
        <form @submit.prevent="editarNota(nota)" v-if="modoEditar">
            <h3>Editar Alumno</h3>
            <input
                type="number"
                class="form-control mb-2"
                placeholder="Matricula"
                v-model="nota.matricula"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Nombre"
                v-model="nota.nombre"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Apellido"
                v-model="nota.apellido"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Sexo"
                v-model="nota.sexo"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Grado"
                v-model="nota.grado"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Grupo"
                v-model="nota.grupo"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Direccion"
                v-model="nota.direccion"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Ocupacion"
                v-model="nota.ocupacion"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Telefono"
                v-model="nota.telefono"
            />
            <button class="btn btn-warning" type="submit">Editar</button>
            <button
                class="btn btn-danger"
                type="submit"
                @click="cancelarEdicion"
            >
                Cancelar
            </button>
        </form>
        <form @submit.prevent="agregar" v-else>
            <h3>Agregar Alumno</h3>
            <input
                type="number"
                class="form-control mb-2"
                placeholder="Matricula"
                v-model="nota.matricula"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Nombre"
                v-model="nota.nombre"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Apellido"
                v-model="nota.apellido"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Sexo"
                v-model="nota.sexo"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Grado"
                v-model="nota.grado"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Grupo"
                v-model="nota.grupo"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Direccion"
                v-model="nota.direccion"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Ocupacion"
                v-model="nota.ocupacion"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Telefono"
                v-model="nota.telefono"
            />
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <hr />
        <h3>Lista de alumnos:</h3>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nombre Completo</th>
                    <th>Sexo</th>
                    <th>Direccion</th>
                    <th>Ocupacion</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in notas" :key="index">
                    <td>
                        <span class="badge badge-primary">
                            {{ item.matricula }}
                        </span>
                    </td>
                    <td>{{ item.nombre }} {{ item.apellido }}</td>
                    <td>{{ item.sexo }}</td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.ocupacion }}</td>
                    <td>{{ item.telefono }}</td>
                    <td>
                        <button
                            class="btn btn-warning btn-sm"
                            @click="editarFormulario(item)"
                        >
                            Editar
                        </button>
                        <button
                            class="btn btn-danger btn-sm"
                            @click="eliminarNota(item, index)"
                        >
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            notas: [],
            modoEditar: false,
            nota: {}
        };
    },
    created() {
        axios.get("/alumnos").then(res => {
            this.notas = res.data;
        });
    },
    methods: {
        agregar() {
            if (
                this.nota.nombre === "" ||
                this.nota.apellido === "" ||
                this.nota.sexo === "" ||
                this.nota.grado === "" ||
                this.nota.grupo === "" ||
                this.nota.direccion === "" ||
                this.nota.ocupacion === "" ||
                this.nota.telefono === ""
            ) {
                alert("Debes completar todos los campos antes de guardar");
                return;
            }
            const notaNueva = this.nota;
            this.nota = {};
            axios.post("/alumnos", notaNueva).then(res => {
                const notaServidor = res.data;
                this.notas.push(notaServidor);
            });
        },
        editarFormulario(item) {
            this.nota.matricula = item.matricula;
            this.nota.nombre = item.nombre;
            this.nota.apellido = item.apellido;
            this.nota.sexo = item.sexo;
            this.nota.grado = item.grado;
            this.nota.grupo = item.grupo;
            this.nota.direccion = item.direccion;
            this.nota.ocupacion = item.ocupacion;
            this.nota.telefono = item.telefono;
            this.nota.id = item.id;
            this.modoEditar = true;
        },
        editarNota(nota) {
            const params = {
                matricula: nota.matricula,
                nombre: nota.nombre,
                apellido: nota.apellido,
                sexo: nota.sexo,
                grado: nota.grado,
                grupo: nota.grupo,
                direccion: nota.direccion,
                ocupacion: nota.ocupacion,
                telefono: nota.telefono
            };
            axios.put(`/alumnos/${nota.id}`, params).then(res => {
                this.modoEditar = false;
                const index = this.notas.findIndex(item => item.id === nota.id);
                this.notas[index] = res.data;
                this.nota = {};
            });
        },
        eliminarNota(nota, index) {
            const confirmacion = confirm(`Eliminar nota ${nota.nombre}`);
            if (confirmacion) {
                axios.delete(`/alumnos/${nota.id}`).then(res => {
                    this.notas.splice(index, 1);
                });
            }
        },
        cancelarEdicion() {
            this.modoEditar = false;
            this.nota = {};
        }
    }
};
</script>
