<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Bienvenido al sistema de biblioteca prestamos
                    </div>

                    <div class="card-body">
                        Hola!, bienvenido. Empieza a trabajar en el sistema.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log("Component mounted.");
    }
};
</script>
