<template>
    <div>
        <form @submit.prevent="editarNota(nota)" v-if="modoEditar">
            <h3>Editar Libro</h3>
            <input
                type="number"
                class="form-control mb-2"
                placeholder="NoControl"
                v-model="nota.nocontrol"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Nombre"
                v-model="nota.nombre"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Autor"
                v-model="nota.autor"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Coleccion"
                v-model="nota.coleccion"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Editorial"
                v-model="nota.editorial"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Clasificacion"
                v-model="nota.clasificacion"
            />
            <button class="btn btn-warning" type="submit">Editar</button>
            <button
                class="btn btn-danger"
                type="submit"
                @click="cancelarEdicion"
            >
                Cancelar
            </button>
        </form>
        <form @submit.prevent="agregar" v-else>
            <h3>Agregar Libro</h3>
            <input
                type="number"
                class="form-control mb-2"
                placeholder="NoControl"
                v-model="nota.nocontrol"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Nombre"
                v-model="nota.nombre"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Autor"
                v-model="nota.autor"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Coleccion"
                v-model="nota.coleccion"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Editorial"
                v-model="nota.editorial"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Clasificacion"
                v-model="nota.clasificacion"
            />
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <hr />
        <h3>Lista de alumnos:</h3>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th>Coleccion</th>
                    <th>Editorial</th>
                    <th>Clasificacion</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in notas" :key="index">
                    <td>
                        <span class="badge badge-primary">
                            {{ item.nocontrol }}
                        </span>
                    </td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.autor }}</td>
                    <td>{{ item.coleccion }}</td>
                    <td>{{ item.editorial }}</td>
                    <td>{{ item.clasificacion }}</td>
                    <td>
                        <button
                            class="btn btn-warning btn-sm"
                            @click="editarFormulario(item)"
                        >
                            Editar
                        </button>
                        <button
                            class="btn btn-danger btn-sm"
                            @click="eliminarNota(item, index)"
                        >
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            notas: [],
            modoEditar: false,
            nota: {}
        };
    },
    created() {
        axios.get("/libros").then(res => {
            this.notas = res.data;
        });
    },
    methods: {
        agregar() {
            if (
                this.nota.nocontrol === "" ||
                this.nota.nombre === "" ||
                this.nota.autor === "" ||
                this.nota.coleccion === "" ||
                this.nota.editorial === "" ||
                this.nota.clasificion === ""
            ) {
                alert("Debes completar todos los campos antes de guardar");
                return;
            }
            const notaNueva = this.nota;
            this.nota = {};
            axios.post("/libros", notaNueva).then(res => {
                const notaServidor = res.data;
                this.notas.push(notaServidor);
            });
        },
        editarFormulario(item) {
            this.nota.nocontrol = item.nocontrol;
            this.nota.nombre = item.nombre;
            this.nota.autor = item.autor;
            this.nota.coleccion = item.coleccion;
            this.nota.editorial = item.editorial;
            this.nota.clasificacion = item.clasificacion;

            this.nota.id = item.id;
            this.modoEditar = true;
        },
        editarNota(nota) {
            const params = {
                nocontrol: nota.nocontrol,
                nombre: nota.nombre,
                autor: nota.autor,
                coleccion: nota.coleccion,
                editorial: nota.editorial,
                clasificacion: nota.clasificacion
            };
            axios.put(`/libros/${nota.id}`, params).then(res => {
                this.modoEditar = false;
                const index = this.notas.findIndex(item => item.id === nota.id);
                this.notas[index] = res.data;
                this.nota = {};
            });
        },
        eliminarNota(nota, index) {
            const confirmacion = confirm(`Eliminar nota ${nota.nombre}`);
            if (confirmacion) {
                axios.delete(`/libros/${nota.id}`).then(res => {
                    this.notas.splice(index, 1);
                });
            }
        },
        cancelarEdicion() {
            this.modoEditar = false;
            this.nota = {};
        }
    }
};
</script>
