<template>
    <div>
        <form @submit.prevent="editarNota(nota)" v-if="modoEditar">
            <h3>Editar Prestamo</h3>
            <input
                type="number"
                class="form-control mb-2"
                placeholder="Folio"
                v-model="nota.folio"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Tipo de Prestamo"
                v-model="nota.tipodeprestamo"
            />
            <input
                type="date"
                class="form-control mb-2"
                placeholder="Fecha Prestamo"
                v-model="nota.fechaprestamo"
            />
            <input
                type="date"
                class="form-control mb-2"
                placeholder="Fecha Devolucion"
                v-model="nota.fechadevolucion"
            />
            <input
                type="number"
                class="form-control mb-2"
                placeholder="Matricula"
                v-model="nota.matricula"
            />
            <input
                type="number"
                class="form-control mb-2"
                placeholder="NoControl"
                v-model="nota.nocontrol"
            />
            <button class="btn btn-warning" type="submit">Editar</button>
            <button
                class="btn btn-danger"
                type="submit"
                @click="cancelarEdicion"
            >
                Cancelar
            </button>
        </form>
        <form @submit.prevent="agregar" v-else>
            <h3>Agregar Prestamo</h3>
            <input
                type="number"
                class="form-control mb-2"
                placeholder="Folio"
                v-model="nota.folio"
            />
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Tipo de Prestamo"
                v-model="nota.tipodeprestamo"
            />
            <input
                type="date"
                class="form-control mb-2"
                placeholder="Fecha Prestamo"
                v-model="nota.fechaprestamo"
            />
            <input
                type="date"
                class="form-control mb-2"
                placeholder="Fecha Devolucion"
                v-model="nota.fechadevolucion"
            />
            <input
                type="number"
                class="form-control mb-2"
                placeholder="Matricula"
                v-model="nota.matricula"
            />
            <input
                type="number"
                class="form-control mb-2"
                placeholder="NoControl"
                v-model="nota.nocontrol"
            />
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <hr />
        <h3>Lista de alumnos:</h3>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Tipo Prestamo</th>
                    <th>Fecha Prestamo</th>
                    <th>Fecha Devolucion</th>
                    <th>Matricula</th>
                    <th>NoControl</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in notas" :key="index">
                    <td>
                        <span class="badge badge-primary">
                            {{ item.folio }}
                        </span>
                    </td>
                    <td>{{ item.tipodeprestamo }}</td>
                    <td>{{ item.fechaprestamo }}</td>
                    <td>{{ item.fechadevolucion }}</td>
                    <td>{{ item.matricula }}</td>
                    <td>{{ item.nocontrol }}</td>
                    <td>
                        <button
                            class="btn btn-warning btn-sm"
                            @click="editarFormulario(item)"
                        >
                            Editar
                        </button>
                        <button
                            class="btn btn-danger btn-sm"
                            @click="eliminarNota(item, index)"
                        >
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            notas: [],
            modoEditar: false,
            nota: {}
        };
    },
    created() {
        axios.get("/prestamos").then(res => {
            this.notas = res.data;
            console.log(res.data.alumno);
        });
    },
    methods: {
        agregar() {
            if (
                this.nota.folio === "" ||
                this.nota.tipodeprestamo === "" ||
                this.nota.fechaprestamo === "" ||
                this.nota.fechadevolucion === "" ||
                this.nota.matricula === "" ||
                this.nota.nocnotrol === ""
            ) {
                alert("Debes completar todos los campos antes de guardar");
                return;
            }
            const notaNueva = this.nota;
            this.nota = {};
            axios.post("/prestamos", notaNueva).then(res => {
                const notaServidor = res.data;
                this.notas.push(notaServidor);
            });
        },
        editarFormulario(item) {
            this.nota.folio = item.folio;
            this.nota.tipodeprestamo = item.tipodeprestamo;
            this.nota.fechaprestamo = item.fechaprestamo;
            this.nota.fechadevolucion = item.fechadevolucion;
            this.nota.matricula = item.matricula;
            this.nota.nocontrol = item.nocontrol;
            this.nota.id = item.id;
            this.modoEditar = true;
        },
        editarNota(nota) {
            const params = {
                folio: nota.folio,
                tipodeprestamo: nota.tipodeprestamo,
                fechaprestamo: nota.fechaprestamo,
                fechadevolucion: nota.fechadevolucion,
                matricula: nota.matricula,
                nocontrol: nota.nocontrol
            };
            axios.put(`/prestamos/${nota.id}`, params).then(res => {
                this.modoEditar = false;
                const index = this.notas.findIndex(item => item.id === nota.id);
                this.notas[index] = res.data;
                this.nota = {};
            });
        },
        eliminarNota(nota, index) {
            const confirmacion = confirm(`Eliminar nota ${nota.folio}`);
            if (confirmacion) {
                axios.delete(`/prestamos/${nota.id}`).then(res => {
                    this.notas.splice(index, 1);
                });
            }
        },
        cancelarEdicion() {
            this.modoEditar = false;
            this.nota = {};
        }
    }
};
</script>
